



*{
   font-size: 20px;
}

h2,h1,h3 {

             font-family:'Times New Roman', Times, serif;
             text-align:center ;
             text-transform: uppercase;
             color: brown;

}

h4,h5,h6 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
    text-align: center;
    color: brown;
}

h1 {
       font-size:300%;
       font-weight: 200;

}

h2{
font-size: 200%;
font-weight: 200;
}

h4{

    font-size: 150%;
    font-weight: 150;
    padding: 20px 0;
}

h2::after{
    display: block;
    background-color: springgreen;
    height: 5px;
    width: 200px;
    margin: 40px auto 30px;
    content: " ";


  
}

p ,li, a  {
    font-family: 'Open Sans', sans-serif;
}

p.destaque {

    font-size: 90%;
    line-height: 1.5;
    font-weight: 100;
    color: black;
    text-align: center;
    width: 60%;

}

p.T {  
    font-size: 75%;


}
/*elemento header*/

header div#chamada h1 {

color:white;
text-shadow: 4px 5px  13px  saddlebrown;
animation-name: HeaderH1-moverParaDireita;
animation-duration: 2s;

}

header div#chamada h4 {
    text-shadow: 4px 5px  13px  saddlebrown; 
    margin-bottom: 55px;
    animation-name: HeaderH4-moverParaEsquerda;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;

}


header div#chamada a {

    color: white;
    text-decoration: none;
    font-size: 70%;
    font-weight: 600;

    padding: 20px 80px;
    border-radius: 50px;
    background: linear-gradient(rgba(7,140,49,55) 0% , rgba( 6,89,2,35) 40%, rgba( 6,89,2,35) 100%);


    animation-name: HeaderA-moverParaCima;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
 
   animation-fill-mode: backwards;

   display: inline-block;
}




    div.pontos-chaves h4:after{

display: block;
background-color: chartreuse;
height: 5px;
width: 30%;
margin: 10px auto 10px;
content: "";


    }

/*sesssao pizza*/

section#pizza p.destaque {

    color: aliceblue;
}

section#pizza ul li {

    list-style: none;
    font-size: 80%;

}

section#pizza h4 {

    font-size: 80%;
}

section#testemunha p.destaque {

width: 40%;
    }


    /*SESSAO PLANOS*/

    section#plano-principal h4 {


        color: #D90404;
    }


    section#plano-principal ul{


        margin-top: 25px;

    
    }

    section#plano-principal ul li{
font-size: 75%;
text-align: left;
margin-left: 30px;
line-height: 2;
text-decoration: none;



    }

    section#plano-principal div.plano-bottom p {

color: white;
font-weight: 600;
text-transform: uppercase;
text-align: center;
padding: 30px;


    }


    /* footer */

    footer div#info ul {
margin-left: 15px;
margin-bottom: 110px;

    }
    footer div#info li {

        list-style: none;
    color: white;
    margin-bottom: 5px;
    }
